# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dep stuff
vendor

# Jekyll
.bundle
_site
.sass-cache

# Editor stuff
*.sw[op]

obj-*
*.debhelper.log
.debian
debian/files
debian/stimmtausch
.debhelper
debhelper-build-stamp
*.substvars
*.snap*
prime

# Built stuff
stimmtausch
_build
